<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./libs/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='./libs/bootstrap/css/bootstrap-calender.css' />
    <link rel='stylesheet' href='./libs/dataTable/dataTable.css' />
    <link rel='stylesheet' href='./libs/css/custom.css' />
    <link rel="icon" href="./assests/images/LTI_Lets_solve.png" type="image/x-icon" />
    <title>Lifht</title>
  </head>
	  
  <body data-page="ADMIN">
    <header class='header'>
      <div class="content-mid col-sm-1 pull-left">
      	<a title="home" href="/">
      		<img src='./assests/images/LTI_Lets_solve.png' class="btn-md" alt="Home">
      	</a>
      </div>
      <div class="col-md-2 pull-left">
	      <a href="/upload" class="btn btn-md btn-primary">
	      	<span class="glyphicon glyphicon-open"></span> Upload
	      </a>
      </div>
      <div class="col-md-2 pull-left">
	      <a href="/password/change" class="btn btn-md">
	      	<span class="glyphicon glyphicon-pencil"></span> Password
	      </a>
      </div>
      <div class="col-md-2 pull-left">
		<span class="btn btn-lg">
			<span class="glyphicon glyphicon-open"></span> Lifht - Home
		</span>
      </div>
      
      <div class="col-md-3 pull-right">
      	<div class="col-md-4"> 
      		<label th:text="${session.psName}" th:unless="${session == null}"></label> 
      	</div>
      	<div class="col-md-1">
			<a href="#" data-toggle="modal" data-target="#logoutModal" class="btn btn-info btn-md">
	        		<span class="glyphicon glyphicon-log-out"></span> Log out
	      	</a>
      	</div>
      </div>
      
    </header>
    
    <!-- Log out modal -->
	<div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	        <h4>Confirm<i class="fa fa-lock"></i></h4>
	      </div>
	      <div class="modal-body">
	        <div>
		        <div class="col-md-12 text-center">
        		        <a href="#" onclick="location.href='/logout'" class="btn btn-md col-xs-12 btn-danger" data-dismiss="modal">
        		        		<span class="glyphicon glyphicon-log-out"></span> Log out
        		        	</a>
		        </div>
   	    		    <br />
           		<br />
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
    
    <br />
    
    <div class='container'>
      <div class='row'>
        <div class='col-md-12 col-sm-12 col-xs-12'>
          <div class='row'>
            <div class='col-md-3 col-sm-12 col-xs-12 input-field'>
              <div class='user-dropdown'>
                <input class='form-control' type='text' name='user-select' value='' placeholder='Select Staff'>
                <div class='staff-list'>
                  <div class='staff-each'>
                    <input id='checkbox-all' type='checkbox' name='' value='all' />
                    <label for='checkbox-all'>Select All</label>
                  </div>
                </div>
                <span class="error">Please select any option</span>
              </div>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12 input-field'>
              <div class='input-group date from-date' data-provide='datepicker'>
                  <input type='text' class='form-control' id='from-date-admin' placeholder='From Date'>
                  <div class='input-group-addon'>
                      <span class='glyphicon glyphicon-calendar'></span>
                  </div>
              </div>
              <span class="error">Please select from date</span>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12 input-field'>
              <div class='input-group date to-date' data-provide='datepicker'>
                  <input type='text' class='form-control' id='to-date-admin' placeholder='To Date'>
                  <div class='input-group-addon'>
                      <span class='glyphicon glyphicon-calendar'></span>
                  </div>
              </div>
              <span class="error">Please select to date</span>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12 input-field'>
              <button id='submit-admin-form' class='btn btn-primary' type='button' name='button'>Submit</button>
            </div>
            <div class='col-md-12 col-sm-12 col-xs-12 report'>
              <div>
                <h4 class='report-title report-title-admin'>
                  Title
                </h4>
                <a href="#" class="download-xl btn btn-success" type="button">Download Cumulative</a>
              </div>
              <table id="result-table" class='table table-responsive'>
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>Date</td>
                    <td>In Time (8hrs)</td>
                    <td>Out Time Hrs</td>
                    <td>Filo</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              <!--High Charts-->
              <div id='container' class='col-md-12 col-sm-12 col-xs-12'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Detail Report-->
    <div id='admin-detail' class='modal fade' role='dialog'>
      <div class='modal-dialog'>

        <!-- Modal content-->
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal'>&times;</button>
            <h4 class='modal-title'>Detail Report for 22/11/2017</h4>
          </div>
          <div class='modal-body'>
            <table class='table table-responsive table-bordered table-striped table-hover'>
              <tbody>
                <tr>
                  <td>SL No.</td>
                  <td>In</td>
                  <td>Out</td>
                  <td></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>9:00</td>
                  <td>10:30</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>11:00</td>
                  <td>17:30</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>18:00</td>
                  <td>19:30</td>
                </tr>
              </tbody>
            </table>
            <div class='modal-footer'>
              <div class='report-summary-text'>
                Total Time in: 7 Hrs
              </div>
              <div class='report-summary-text'>
                Total Time out: 1 Hr
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
	<script type="text/javascript" th:inline="javascript">/*<![CDATA[*/var sessionPsNumber = [[${session.psNumber}]];/*]]>*/</script>
	<script type='text/javascript' src='./libs/js/jquery.min.js'></script>
	<script type='text/javascript' src='./libs/bootstrap/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='./libs/bootstrap/js/bootstrap-datepicker.js'></script>
	<script type='text/javascript' src='./libs/charts/highcharts.js'></script>
	<script type='text/javascript' src='./libs/charts/exporting.js'></script>
	<script type='text/javascript' src='./libs/dataTable/dataTable.js'></script>
	<script type='text/javascript' src='./libs/js/custom.js'></script>
</html>
