<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./libs/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='./libs/bootstrap/css/bootstrap-calender.css' />
    <link rel='stylesheet' href='./libs/dataTable/dataTable.css' />
    <link rel='stylesheet' href='./libs/css/custom.css' />
    <link rel="icon" href="./assests/images/LTI_Lets_solve.png" type="image/x-icon" />
    <title>Lifht</title>
  </head>

  <body data-page="ADMIN">
    <header class='header'>
      <div class="col-md-1 col-sm-1">
      	<a title="home" href="/">
      		<img src='./assests/images/LTI_Lets_solve.png' class="btn-md" alt="Home">
      	</a>
      </div>
      <div class="col-md-2 col-sm-2">
	      <a href="/upload" class="btn btn-md btn-primary">
	      	<span class="glyphicon glyphicon-open"></span> Upload
	      </a>
      </div>
      <div class="col-md-6 col-sm-6 header-title">
    		<h1>Lifht - Home</h1>
      </div>
      <div class="col-md-3 col-sm-3 admin-actions">
      	<div class="pull-right admin-actions-name">
          <button id=admin-actions-toggle class="btn btn-default" type="button" name="button">
            <label th:text="${session.psName}" th:unless="${session == null}"></label>
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
      	</div>
        <div class="admin-dropdown">
          <ul>
            <li>
              <a href="/password/change">
      	      	<span class="glyphicon glyphicon-pencil"></span> Password
      	      </a>
            </li>
            <li>
              <a href="#" onclick="location.href='/logout'">
                <span class="glyphicon glyphicon-log-out"></span> Log out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12 col-sm-12 col-xs-12'>
          <div class='row'>
            <div class='col-md-3 col-sm-12 col-xs-12 input-field'>
              <div class='user-dropdown'>
                <input class='form-control' type='text' name='user-select' value='' placeholder='Select Staff'>
                <div class='staff-list'>
                  <div class='staff-each'>
                    <input id='checkbox-all' type='checkbox' name='' value='all' />
                    <label for='checkbox-all'>Select All</label>
                  </div>
                </div>
                <span class="error">Please select any option</span>
              </div>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12 input-field'>
              <div class='input-group date from-date' data-provide='datepicker'>
                  <input type='text' class='form-control' id='from-date-admin' placeholder='From Date'>
                  <div class='input-group-addon'>
                      <span class='glyphicon glyphicon-calendar'></span>
                  </div>
              </div>
              <span class="error">Please select from date</span>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12 input-field'>
              <div class='input-group date to-date' data-provide='datepicker'>
                  <input type='text' class='form-control' id='to-date-admin' placeholder='To Date'>
                  <div class='input-group-addon'>
                      <span class='glyphicon glyphicon-calendar'></span>
                  </div>
              </div>
              <span class="error">Please select to date</span>
            </div>
            <div class='col-md-3 col-sm-12 col-xs-12 input-field'>
              <button id='submit-admin-form' class='btn btn-primary' type='button' name='button'>Submit</button>
            </div>
            <div class='col-md-12 col-sm-12 col-xs-12 report'>
              <div>
                <h4 class='report-title report-title-admin'>
                  Title
                </h4>
                <a href="#" class="download-xl btn btn-success" type="button">Download Cumulative</a>
              </div>
              <table id="result-table" class='table table-responsive'>
                <thead>
                  <tr>
                    <td>Name</td>
                    <td class="no-sort">Date</td>
                    <td class="no-sort">In Time (8hrs)</td>
                    <td class="no-sort">Out Time Hrs</td>
                    <td class="no-sort">Filo</td>
                    <td class="no-sort"></td>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              <!--High Charts-->
              <div id='container' class='col-md-12 col-sm-12 col-xs-12'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Detail Report-->
    <div id='admin-detail' class='modal fade' role='dialog'>
      <div class='modal-dialog'>

        <!-- Modal content-->
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal'>&times;</button>
            <h4 class='modal-title'>Detail Report for 22/11/2017</h4>
          </div>
          <div class='modal-body'>
            <table class='table table-responsive table-bordered table-striped table-hover'>
              <tbody>
                <tr>
                  <td>SL No.</td>
                  <td>In</td>
                  <td>Out</td>
                  <td></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>9:00</td>
                  <td>10:30</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>11:00</td>
                  <td>17:30</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>18:00</td>
                  <td>19:30</td>
                </tr>
              </tbody>
            </table>
            <div class='modal-footer'>
              <div class='report-summary-text'>
                Total Time in: 7 Hrs
              </div>
              <div class='report-summary-text'>
                Total Time out: 1 Hr
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
	<script type="text/javascript" th:inline="javascript">/*<![CDATA[*/var sessionPsNumber = [[${session.psNumber}]];/*]]>*/</script>
	<script type='text/javascript' src='./libs/js/jquery.min.js'></script>
	<script type='text/javascript' src='./libs/bootstrap/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='./libs/bootstrap/js/bootstrap-datepicker.js'></script>
	<script type='text/javascript' src='./libs/charts/highcharts.js'></script>
	<script type='text/javascript' src='./libs/charts/exporting.js'></script>
	<script type='text/javascript' src='./libs/dataTable/dataTable.js'></script>
	<script type='text/javascript' src='./libs/js/custom.js'></script>
</html>
