<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css" />
   <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap-calender.css" />
   <link rel='stylesheet' href='../libs/dataTable/dataTable.css' />
   <link rel="stylesheet" href="../libs/css/custom.css" />
   <link rel="icon" href="../assests/images/LTI_Lets_solve.png" type="image/x-icon" />
   <title>Change Password</title>
 </head>
  <body data-page="change">


	<header class='header'>
    <div class="col-md-2 col-sm-2" style="text-align: left;">
    	<a title="home" href="/">
    		<img src='../assests/images/LTI_Lets_solve.png' class="btn-md" alt="Home">
    	</a>
    </div>
    <div class="col-md-8 col-sm-8 text-center pull-left">
  		<h1 style="margin: 0; font-size: 18px; padding: 7px 0;">
        Lifht
  		</h1>
    </div>
    <div class="col-md-2 col-sm-2 admin-actions">
      <div class="pull-right admin-actions-name">
        <button id=admin-actions-toggle class="btn btn-default" type="button" name="button">
          <label th:text="${session.psName}" th:unless="${session == null}"></label>
          <span class="glyphicon glyphicon-menu-down"></span>
        </button>
      </div>
      <div class="admin-dropdown">
        <ul>
          <li>
            <a href="#" onclick="location.href='/logout'">
              <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <h3>Change Password</h3>
    <form method="post" id="changePassword" class="col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="pwd-box">
            <div class="pwd-label">
              Current Pasword
            </div>
            <div class="pwd-input">
              <input type="password" class='form-control' name="currentPassword" id="currentPassword" required>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="pwd-box">
            <div class="pwd-label">
              New Pasword
            </div>
            <div class="pwd-input">
              <input type="password" class='form-control' name="newPassword" id="newPassword" required>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="pwd-box">
            <div class="pwd-label">
              Confirm Password
            </div>
            <div class="pwd-input">
              <input type="password" class='form-control' name="confirmPassword" id="confirmPassword" required>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-offset-4 col-sm-offset-3 col-md-4 col-sm-6">
        <div class="row">
          <button id="change" type="submit" class="btn btn-md btn-info">Change</button>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 pass-error">
        <div class="row">
          <div class="alert alert-danger"></div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 pass-success">
        <div class="row">
          <div class="alert alert-success"></div>
        </div>
      </div>
    </form>
  </div>

</body>
	<script type="text/javascript" th:inline="javascript">/*<![CDATA[*/var sessionPsNumber = [[${session.psNumber}]];/*]]>*/</script>
	<script type='text/javascript' src='../libs/js/jquery.min.js'></script>
	<script type='text/javascript' src='../libs/bootstrap/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='../libs/js/password.js'></script>
</html>
