<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../libs/css/custom.css" />
    <link rel="icon" href="../assests/images/LTI_Lets_solve.png" type="image/x-icon" />
    <title>Forgot Password</title>
  </head>
  <body data-page="forgot">
    
	<header class='header'>
		<div class="content-mid col-sm-1 pull-left">
			<a title="home" href="/"> <img
				src='../assests/images/LTI_Lets_solve.png' class="btn-md" alt="Home">
			</a>
		</div>
		<div class="col-md-10 text-center pull-left">
			<h4 class="text-center">Forgot Password <span class="glyphicon glyphicon-repeat"></span> </h4>
		</div>
	</header>
    
    <br />
    
    <div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<form action="/forgotpassword" method="POST">

						<div class="col-md-4 col-sm-4 col-md-offset-4">
							<div class="pwd-box">
							<div th:unless="${successMessage}">
								<div class="pwd-label">PS Number</div>
								<div class="pwd-input">
									<input type="text" class='form-control' name="psNumber" id="psNumber" required autofocus>
								</div>
							
								<div class="col-xs-12">
									<div class="row">
										<br>
										<button style="width:100%" id="reset" type="submit" class="btn btn-md btn-info">Reset</button>
									</div>
								</div>
								
							</div>
								<div class="col-xs-12">
									<div class="row">
										<br>
										<label th:text="${errorMessage}"></label> 
										<label th:text="${successMessage}"></label>
									</div>
								</div>
	
								<div class="row"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</body>
	
	<script type='text/javascript' src='../libs/js/jquery.min.js'></script>
	<script type='text/javascript' src='../libs/bootstrap/js/bootstrap.min.js'></script>
</html>