<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="./assests/images/LTI_Lets_solve.png" type="image/x-icon" />
		<link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="./libs/css/custom.css" />
		<title>Lifht</title>
	</head>

	<body>
		<header class='header'>
      <div class="col-md-1 col-sm-1 pull-left" style="text-align: left;">
      	<a title="home" href="/">
      		<img src='./assests/images/LTI_Lets_solve.png' class="btn-md" alt="Home">
      	</a>
      </div>
      <div class="col-md-2 col-sm-2">
	      <a href="/changepassword" class="btn btn-md">
	      	<span class="glyphicon glyphicon-pencil"></span> Password
	      </a>
      </div>
      <div class="col-md-6 col-sm-6">
	      <span class="btn btn-lg">
	      	<span class="glyphicon glyphicon-open"></span> Lifht - Upload
	      </span>
      </div>
			<div class="col-md-3 col-sm-3 admin-actions">
      	<div class="pull-right admin-actions-name">
          <button id=admin-actions-toggle class="btn btn-default" type="button" name="button">
            <label th:text="${session.psName}" th:unless="${session == null}"></label>
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
      	</div>
        <div class="admin-dropdown">
          <ul>
            <li>
              <a href="/changepassword">
      	      	<span class="glyphicon glyphicon-pencil"></span> Password
      	      </a>
            </li>
            <li>
              <a href="#" onclick="location.href='/logout'">
                <span class="glyphicon glyphicon-log-out"></span> Log out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
		<div class='container'>
			<div class='row'>
				<form id="swipe-data" class="col-md-4 col-sm-12 upload-form" enctype="multipart/form-data">
					<div class="form-content">
						<h3> Swipe data: </h3>
						<input type="file" class="form-input" name="swipe-data" class="btn btn-default" />
						<input type="submit" value="Submit" class="btn btn-primary" />
						<span class="swipe-data-ack-msg alert"></span>
					</div>
				</form>
				<form id="head-count" class="col-md-4 col-sm-12 upload-form" enctype="multipart/form-data">
					<div class="form-content">
						<h3> Head-count:</h3>
						<input type="file" name="head-count" class="btn btn-default" />
						<input type="submit" value="Submit" class="btn btn-primary" />
						<span class="head-count-ack-msg alert"></span>
					</div>
				</form>
				<form id="project-allocation" class="col-md-4 col-sm-12 upload-form" enctype="multipart/form-data">
					<div class="form-content">
						<h3> Project allocation: </h3>
						<input type="file" name="project-allocation" class="btn btn-default" />
						<input type="submit" value="Submit" class="btn btn-primary" />
						<span class="project-all-ack-msg alert"></span>
					</div>
				</form>
			</div>
		</div>
		<div class="loading">
			<img src='./assests/images/uploading-2.gif' alt="Home">
		</div>
	</body>

	<script type='text/javascript' src='./libs/js/jquery.min.js'></script>
	<script type='text/javascript' src='./libs/bootstrap/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='./libs/js/upload.js'></script>
</html>
