<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="./assests/images/LTI_Lets_solve.png" type="image/x-icon" />
		<link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="./libs/css/custom.css" />
		<title>Lifht</title>
	</head>

	<body>
		<header class='header'>
	      <div class="col-md-2 col-sm-2 pull-left">
	      	<a title="home" href="/">
	      		<img src='./assests/images/LTI_Lets_solve.png' class="btn-md" alt="Home">
	      	</a>
	      </div>
	      <div class="col-md-2 col-sm-2">
		      <a href="/password/change" class="btn btn-md">
		      	<span class="glyphicon glyphicon-pencil"></span> Password
		      </a>
	      </div>
	      <div class="col-md-3 col-sm-3">
		      <span class="btn btn-lg">
		      	<span class="glyphicon glyphicon-open"></span> Lifht - Upload
		      </span>
	      </div>
	      <div class="col-md-2 col-sm-2 pull-right">
			<a href="#" data-toggle="modal" data-target="#logoutModal" class="btn btn-info btn-md">
	        		<span class="glyphicon glyphicon-log-out"></span> Log out
	      	</a>
	      </div>
	    </header>

	    <!-- Log out modal -->
		<div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		        <h4>Confirm<i class="fa fa-lock"></i></h4>
		      </div>
		      <div class="modal-body">
		        <div>
			        <div class="col-md-12 text-center">
	        		        <a href="#" onclick="location.href='/logout'" class="btn btn-md col-xs-12 btn-danger" data-dismiss="modal">
	        		        		<span class="glyphicon glyphicon-log-out"></span> Log out
	        		        	</a>
			        </div>
	   	    		    <br />
	           		<br />
		        </div>
		      </div>
		    </div>
		  </div>
		</div>

   		<br />
		<div class='container'>
			<div class='row'>
				<form id="swipe-data" class="col-md-4 col-sm-12 upload-form" enctype="multipart/form-data">
					<div class="form-content">
						<h3> Swipe data: </h3>
						<input type="file" class="form-input" name="swipe-data" class="btn btn-default" />
						<input type="submit" value="Submit" class="btn btn-primary" />
						<span class="swipe-data-ack-msg alert"></span>
					</div>
				</form>
				<form id="head-count" class="col-md-4 col-sm-12 upload-form" enctype="multipart/form-data">
					<div class="form-content">
						<h3> Head-count:</h3>
						<input type="file" name="head-count" class="btn btn-default" />
						<input type="submit" value="Submit" class="btn btn-primary" />
						<span class="head-count-ack-msg alert"></span>
					</div>
				</form>
				<form id="project-allocation" class="col-md-4 col-sm-12 upload-form" enctype="multipart/form-data">
					<div class="form-content">
						<h3> Project allocation: </h3>
						<input type="file" name="project-allocation" class="btn btn-default" />
						<input type="submit" value="Submit" class="btn btn-primary" />
						<span class="project-all-ack-msg alert"></span>
					</div>
				</form>
			</div>
		</div>
		<div class="loading">
			<img src='./assests/images/uploading-2.gif' alt="Home">
		</div>
	</body>

	<script type='text/javascript' src='./libs/js/jquery.min.js'></script>
	<script type='text/javascript' src='./libs/bootstrap/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='./libs/js/upload.js'></script>
</html>
